@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

body {
  font-family: 'Manrope', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-background {
  background-image: url('./assets/trail-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  padding: 20px;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #264311;
  color: #fff;
  cursor: pointer;
  font-family: 'Manrope', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.auth-container button:hover {
  background-color: #142800;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #264311;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Manrope', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

button:hover {
  background-color: #142800;
}

.error {
  color: red;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  color: #333;
  width: 100%;
  font-family: 'Manrope', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}

.auth-container p a {
  color: #007bff;
  text-decoration: none;
}

.auth-container p a:hover {
  text-decoration: underline;
}

.content {
  padding-top: 70px;
}